
.topTitle{
    border: 20px solid black;
    background-color: yellow;
font-size: 35px;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;

}

.progBars{
    display: flex;
    justify-content: flex-end;
}


 .inputButton1 {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }



body{
    margin: auto;
    padding: 30px;
    
    background-color: red;}

    footer{

        padding: auto;
    }
    #keyboard{
        display: flex;
        justify-content:center ;
        color:blue ;
        background-color: blue;
    }
    .container1{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    #wordShowcase{
        font-size: 40px;
    }